<section id="menu-pane" class="menu text-center">
  {{ if not .IsNode }}



  {{ with .PrevInSection }}
  <span><a class="menu-nav-item" href="{{ .Permalink }}"> previous </a></span>
  {{ end }}

  <!-- {{ if (or (.PrevInSection) (.NextInSection)) }}
  <span><a class="menu-item" href="{{ .Section | relURL }}">{{ .Section | lower }}</a></span>
  {{ end }} -->

  {{ if (and (.PrevInSection) (.NextInSection)) }}
  <span>&emsp;</span>
  {{ end }}

  {{ with .NextInSection }}
  <span><a class="menu-nav-item" href="{{ .Permalink }}"> next </a></span>
  {{ end }}
  {{ end }}
</section>
